body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	height: 100%;
	background-color: var(--lightred);
}

main {
	flex: 1 0 auto;
	background-color: var(--tan);
}

* + p {
	margin-top: 1.2rem;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0 4rem;
}

.main__body {
	display: flex;
	margin: 4rem 0;
}

.main__body--left {
    max-width: 32rem;
    width: 100%;
	margin-right: 4rem;
}

.main__body--right {	
	width: 100%;
	display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 9rem);
	grid-gap: 2rem;

}

.episode {
	font-size: 2.8rem;
    align-self: end;
}

@media (max-width: 42em) {

	.main__body {
		flex-direction: column;
	}

	.main__body--left {
		width: 100%;
		margin-right: 2rem;
		max-width: max-content;
	}

}