<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/structure.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/nav.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/typography.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97413613-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-97413613-2');
    </script>
  
  </head>
  <body>
    <header class="container">
    {% include "partials/nav.njk" %}
    <div class="container__logo">
      <h1 class="visually-hidden">{{ title }}</h1>
      <img class="logo" src="/img/mai-tais-logo-2.svg" alt="Mai Tais With" />
      <p class="tagline">A videocast/podcast about all things digital.</p>
    </div>
    </header>

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="container">
        <div class="main__body">
        {{ content | safe }}
        </div>
      </div>
    </main>

 {% include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
